<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
错误信息：<h4 th:text="${msg}"></h4>
<form action="" method="post">

    <table>
        <tbody>
        <tr>
            <td>Username</td>
            <td><input></td>
        </tr>
        <tr>
            <td>Password</td>
            <td><input type="password"></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit"></td>
        </tr>
        </tbody>
    </table>
</form>
</body>
</html>